<li class='row micropost'>
  <span class='col-5 micropost-date'>
    <%= micropost.created_at.strftime('%Y年%-m月%-d日') %>
  </span>
  <span class= 'col-7 micropost-favorite-delete'>
  <% if micropost.user_id == current_user.id %>
    <%= render partial: 'favorites/favorite_form', locals: {micropost: micropost} %>
    <%= link_to 'Delete', micropost_path(micropost), method: :delete,
                          data: { confirm: '選択した投稿を削除しますか？' } ,class: 'btn btn-sm btn-outline-info micropost-delete' %>
  <% end %>
  </span>
  <div class='col-12'>
    <div class='micropost-content'>
      <%= micropost.content  %>
    </div>
  </div>
  <% if micropost.picture.attached?%>
    <div class='col-12 micropost-picture'>
      <%= image_tag micropost.resize_picture,class:'d-none d-md-inline-block' %>
    </div>
  <% end %>
</li>